@use '../_vars/colors';
@use './fonts' as *;

._btn {
        $font-size: 18px;
    display: inline-block;
    padding: 15px 85px;
    border-radius: 100px;
    font-weight: 400;
    font-size: $font-size;
    @include RobotoMono;
    letter-spacing: -0.05 * $font-size;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &--white {
        color: colors.$btn-black;
        background: colors.$btn-white;
    }

    &--glow {
        box-shadow: colors.$btn-white-box-shadow;
    }
}