@use '../_vars/colors';
@use './fonts' as *;

._btn {
        $font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-weight: 400;
    font-size: $font-size;
    @include RobotoMono;
    letter-spacing: -0.05 * $font-size;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;

    transition-property: 
        background, transform, opacity, padding, width, height;
    transition-duration: .3s;
    
    &:hover {
        cursor: pointer;
    }

    /* Colors */
    &--white {
        color: colors.$btn-black;
        background: colors.$btn-white;
    }

    &--light-green {
        color: colors.$btn-black;
        background: colors.$white;
    }
    
    /* Glow */
    &--glow {
        box-shadow: colors.$btn-white-box-shadow;
    }

    &--m-pd {
        padding: 15px 85px;
    }

    /* Special */

    img, svg {
        margin-right: 18px;
    }

    &--no-fill {
            $txt-color: colors.$btn-lined;
            $txt-hover: colors.$btn-white;
            $btn-bg: colors.$btn-light-bg;
        color: $txt-color;
        border: 1px solid $txt-color;
        &:hover {
            svg { 
                stroke: $txt-hover; 
                fill: pink; 
            }
            color: $txt-hover;
            background: $btn-bg;
        }
    }

    &--l-ls {
        letter-spacing: 0.1 * $font-size;
    }

    &--s-pd {
        padding: 17px 22px;
    }
}