@use './_fonts/Roboto';
@use './_fonts/RobotoMono';
@use './_fonts/Rubik';

@mixin RobotoMono {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

@mixin Roboto {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@mixin Rubik {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}