@use '../../../_share/_import/fonts' as *;
@use '../../../_share/_vars/colors';

._text-article {
    @include Roboto;
    font-size: 14px;
    line-height: 20px;
    color: colors.$txt-black;

    ul {
        list-style: none;
    }

    // li {
    // }

    h3 {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: normal;
    }

    p {
        margin: 0;
    }

    a {
        color: inherit;
        text-shadow: colors.$article-link-txt-shadow;
    }

    &--leaf-list {
        li {
            padding-top: 5px;
            padding-left: 25px;
            background: left 0px no-repeat url("data:image/svg+xml,%3Csvg width='13' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5.5C5.8 2.85 11.71 9.86 12.3 15.26c.07.55-.38.89-.85.6C8.55 14.07.8 6.69.35 1.23.3.6.93.2 1.49.5z' fill='%230D444D'/%3E%3C/svg%3E%0A");
    
            &:not(:last-child) {
                margin-bottom: 23px;
            }
        }
    }
}