@use '../../../_share/_import/fonts' as *;
@use '../../../_share/_vars/colors';

._block-description {
    position: relative;

    &::before {
        content: attr(data-description);
        position: absolute;
        top: -25px; left: 3px;
        color: colors.$black;
        text-transform: capitalize;
        font-size: 18px;
        @include Rubik;
    }
}