@use '../../../_share/_partials/_scenes/partial';
@use '../../../_share/_partials/header';
@use '../../../_share/_partials/footer';
@use '../../../_share/_partials/pet-avatar';
@use '../../../_share/_partials/headings';
@use '../../../_share/_partials/button';
@use '../../../_share/_import';

@use './utility';
@use './side-menu';
@use './broadcast';
@use './text-article';
@use './description';

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    &__bottom-float {
        position: absolute;
        left: 50%; bottom: 70px;
        transform: translateX(-50%);
    }
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
}

.zoo-wrapper {
    max-width: 1325px;
    flex-grow: 1;
}