@use '../../../_share/_vars/breakpoints' as *;

.beautifuls {
    padding-bottom: 105px;
    @include respond-to("<tablet") {
        padding-bottom: 30px;
    }

    &__header {
        margin-bottom: 65px;
    }
    
    &__main {
        display: flex;
        align-items: center;
        padding-right: 65px;
        @include respond-to("<tablet") {
            flex-direction: column;
            padding-right: 0;
        }
    }

    &__animals-container {
        // margin: -20px -35px 0 -15px;
        flex-grow: 1;
        overflow: hidden;
        display: grid;
        justify-items: flex-start;
        grid-auto-flow: column;
        grid-auto-columns: calc(100% / 7);

        @include respond-to("<desktop") {
            grid-auto-columns: calc(100% / 6);
        }
        @include respond-to("<tablet-large") {
            grid-auto-columns: calc(100% / 4);
        }
        @include respond-to("<tablet") {
            row-gap: 60px;
            grid-template-rows: auto auto;
            grid-auto-columns: calc(100% / 3);
        }
    }

    &__arrows {
        // margin-left: 10px;
        display: flex;
        height: 104px;
        flex-direction: column;
        justify-content: space-around;
        @include respond-to("<tablet") {
            margin-top: 50px;
            height: auto;
        }
    }

    .arrow {
        &--bottom {
            display: none;
        }
        @include respond-to("<tablet") {
            &--left, &--right {
                display: none;
            }
            &--bottom {
                display: block;
            }
        }
    }
}