@use '../../../_share/_vars/breakpoints' as *;
@use '../../../_share/_vars/functions' as *;

$decor-arrow-url: url("../../../assets/icons/line/arrow-right.svg");
$decor-line-url: url("../../../assets/icons/line/line.svg");

$objects: (
    "tree": (
        ">1920px": (
            x: calc(50vw - 813px - 130px),
            y: 125px,
            w: 130px,
            h: 230px,
        ),
        "<1920px": (
            x: calc(50vw - 813px - 130px),
            y: 125px,
            w: 130px,
            h: 230px,
        ),
        url: url("../../../assets/icons/bg-items/tree.svg"),
    ),
    "bamboo": (
        ">1920px": (
            x: calc(50vw + 811px),
            y: 210px,
            w: 116px,
            h: 206px,
        ),
        "<1920px": (
            x: calc(50vw + 811px),
            y: 210px,
            w: 116px,
            h: 206px,
        ),
        url: url("../../../assets/icons/bg-items/bamboo.svg"),
    ),
    "background": (
        ">1920px": (
            x: 45%, 
            y: 0%,
            w: 100%,
            h: 100%,
        ),
        "<1920px": (
            x: 45%, 
            y: 0%,
            w: auto,
            h: auto,
        ),
        url: url("../../../assets/images/bg-delims/feed-1920.svg"),
    ),
    "background-tablet": (
        "<992px": (
            x: 0%,
            y: 0%,
            w: 992px,
            h: 100%,
        ),
        url: url("../../../assets/images/bg-delims/feed-640.svg"),
    ),
    "background-mobile": (
        "<640px": (
            x: 50%,
            y: 0%,
            w: 100%,
            h: 100%,
        ),
        url: url("../../../assets/images/bg-delims/feed-320.svg"),
    ),
);

.feed {
    padding: 90px 0 157px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: flex-end;

    @include respond-to(">desktop") {
        height: 70vw * 564 / 1920;
        min-height: 564px;
        max-height: 700px;
    }

    background:
        get-background($objects, "bamboo", "<1920px"),
        get-background($objects, "tree", "<1920px"),
        get-background($objects, "background", "<1920px");

    @include respond-to(">boundaries") {
        background:
            get-background($objects, "bamboo", ">1920px"),
            get-background($objects, "tree", ">1920px"),
            get-background($objects, "background", ">1920px");
    }

    @include respond-to("<desktop") {
        background:
            get-background($objects, "bamboo", ">1920px"),
            get-background($objects, "tree", ">1920px"),
            get-background($objects, "background", "<1920px");
    }
    
    @include respond-to("<tablet-large") {
        padding: 45px 0 75px;
        background:
            get-background($objects, "bamboo", ">1920px"),
            get-background($objects, "tree", ">1920px"),
            get-background($objects, "background-tablet", "<992px");
    }

    @include respond-to("<tablet") {
        padding: 50px 0 180px 0;
        background:
            get-background($objects, "bamboo", ">1920px"),
            get-background($objects, "tree", ">1920px"),
            get-background($objects, "background-mobile", "<640px");
    }

    &__header {
        margin-bottom: 91px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond-to("<tablet-large") {
            margin-bottom: 45px;
        }
        @include respond-to("<tablet") {
            margin-bottom: 25px;
            & > *:last-child {
                position: absolute;
                left: 50%; bottom: 90px;
                transform: translateX(-50%);
            }
        }
    }

    &__main {
        max-width: 1210px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        position: relative;

        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
                // 3pc. - amount; 
                // 145px - item width; 
                // 130px - padding
            width: calc( 50% - 1.5 * 145px - 130px );
            min-width: 15px;
            height: 21px;
            top: 70px;
            background:
                $decor-line-url calc(100% - 15px) / 100% 2px no-repeat,
                $decor-arrow-url 100% 100% / 15px 21px no-repeat;
        }

        &::before {
            right: calc(50% + 100px);
        }

        &::after {
            left: calc(50% + 125px);
        }

        @include respond-to("<tablet-large") {
            &::before, &::after {
                top: 30%;
            }
        }

        @include respond-to("<tablet") {
            flex-direction: column;
            &::before, &::after {
                left: 50%;
                transform: translate(-50%) rotate(90deg);
            }
            &::before {
                top: 29%;
            }
            &::after {
                top: 67%;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        @include respond-to("<tablet") {
            &:not(:last-child) {
                margin-bottom: 80px;
            }
        }
    }
}