@use '../../../_share/_vars/colors';
@use '../../../_share/_import/fonts' as *;
@use '../../../_share/_vars/breakpoints' as *;

.intro {

    /* >> Divider */

    overflow-x: hidden;
    background: colors.$bg;
    margin-bottom: -65px;

    &__col-1, &__col-2 {
        display: flex;
        align-items: center;
    }
    &__col-1 {
        margin-bottom: 50px;
    }
    &__col-2 {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin-bottom: -130px;
        @include respond-to("<tablet-large") {
            margin-bottom: 15px;
        }
    }

    // :: placeholder
    &::after {
        content: "";
        width: 100%;
        height: 210px;
        display: block;
    }

    // transition: background-position-x .5s;

    background: 
        center calc(100% + 5px) / auto 210px no-repeat colors.$bg
        url("../../../assets/images/bg-delims/intro.svg");

    @include respond-to(">boundaries") {
        background-size: 100% 210px;
    }
    @include respond-to("<tablet-large") {
        background-size: max(1.7 * 100%, 1.7 * 850px) 210px;
        background-position: left bottom;
        margin-bottom: -50px;
    }
    @include respond-to("<tablet") {
        background-size: 3750px 210px;
        background-position: -780px bottom;
        margin-bottom: -150px;
    }

    /* << Divider */

    &__wrapper {
        position: relative;
        z-index: 10;
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        @include respond-to("<tablet") {
            padding-top: 20px;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-around;
        }
    }

    &__article {
        color: colors.$hero-text;
        min-width: max-content;
        margin-right: 20px;
    }

    &__heading {
        margin: 55px 0 45px 0;
        font-weight: 300;
        
        font-size: 72px;
        
        line-height: 120%;
        @include Rubik;
        white-space: nowrap;

        b {
            font-size: 64px;
            font-weight: 500;
        }
    }

    &__text {
        margin-bottom: 90px;
        font-size: 14px;
        max-width: 480px;

        font-size: 16px;
        font-weight: normal;
        line-height: 140%;
        @include Roboto;
    }

    &__buttons {
        max-width: 115%;
        display: flex;
        justify-content: space-between;
        gap: 5%;
        padding-right: 5%;

        @include respond-to("<tablet-large") {
            & > * {
                flex-basis: 100%;
            }
        }
    }

    @include respond-to(">tablet-large") {
        &__heading {
            font-size: 58px;
            b {
                font-size: 46px;
            }
        }
        &__text {
            font-size: 16px;
            margin-bottom: 40px;
        }
    }

    @include respond-to("<tablet-large") {
        &__heading {
            margin-top: 0;
            font-size: 36px;
            b {
                font-size: 30px;
            }
        }
        &__text {
            max-width: 270px;
            font-size: 14px;
            margin-bottom: 30px;
        }
    }

    @include respond-to("<tablet") {
        &__heading {
            font-size: 32px;
            b {
                font-size: 28px;
            }
        }
    }
}

.clip-video {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 805px;
    min-width: 255px;

    &__svg {
        width: 100%;
        height: auto;
    }

    &__filter {
        fill: colors.$clip-video-filter;
    }

    @include respond-to("<tablet-large") {
        max-width: 400px;
    }
    @include respond-to("<tablet") {
        max-width: 255px;
    }
}