@use '../../../_share/_vars/colors';
@use '../../../_share/_import/fonts' as *;
@use '../../../_share/_vars/functions' as *;

.intro {

    /* >> Divider */

    background: colors.$bg;
    overflow-x: hidden;

    &__col-1 {
        margin-bottom: 50px;
    }
    &__col-2 {
        display: flex;
        justify-content: flex-end;
        margin-bottom: -130px;
    }
    
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 210px;
        margin: 0 auto;

        background-position: center 100%;
        background-repeat: no-repeat;
        background-image: 
            url("../../../assets/images/bg-delims/intro.svg");
        background-color: colors.$bg;

        @media (min-width: 1920px) {
            background-size: 100% 100%;
        }
    }

    /* << Divider */

    &__wrapper {
        position: relative;
        z-index: 10;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    &__article {
            $txt-color: colors.$hero-text;
        color: $txt-color;
    }

    &__heading {
        margin: 55px 0 45px 0;
        font-weight: 300;
        font-size: 72px;
        line-height: 85px;
        @include Rubik;
        
        b {
            font-weight: 500;
        }
    }

    &__text {
        max-width: 450px;
        margin-bottom: 40px;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        @include Roboto;
    }
}

.clip-video {
    display: flex;
    align-items: center;
    position: relative;

    &__svg {
        width: 100%;
        height: auto;
    }

    &__filter {
        fill: colors.$clip-video-filter;
    }
}