@use '../../../_share/_vars/breakpoints' as *;
@use '../../../_share/_vars/colors';

.pets {
    $right-mg: 130px;

    &__wrapper {
        padding: 70px 0 100px;
        @include respond-to("<desktop") {
            padding: 50px 0 100px;
        }  
        @include respond-to("<tablet-large") {
            padding: 30px 0 100px;
        }        
    }

    &__header {
        max-width: 1480px;
        margin-bottom: 65px;
        display: flex;
        justify-content: space-between;
    }

    &__cards {
        display: flex;
    }

    &__cards-container {
            --card-color: #{colors.$pet-card-main};
        max-width: 1480px;
        overflow: hidden;
        flex: 1 1 100%;
        min-width: 240px;
        display: grid;
        gap: 20px;
        
        grid-auto-flow: column;
        grid-auto-columns: calc(100% / 3 - 15px);
        grid-template-rows: repeat(2, auto);

        @include respond-to("<tablet-large") {
            grid-auto-columns: calc(100% / 2 - 10px);
        }
        @include respond-to("<tablet") {
            grid-auto-columns: calc(100% / 1);
        }
    }

    &__aside {
        flex-grow: 1;
        padding: 0 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:
            center calc(100% - 13px) no-repeat
            url("../../../assets/icons/pingvo.svg");
    }

    &__arrows {
        display: flex;
        height: 104px;
        flex-direction: column;
        justify-content: space-around;
    }
}