@use '../../../_share/_vars/colors';
@use '../../../_share/_import/fonts' as *;

.reviews {
    padding-top: 100px;
    margin-bottom: 100px;

    &__header {
        margin-bottom: 52px;
        display: flex;
        justify-content: space-between;
    }

    &__main {
        gap: 20px;
        display: flex;
        justify-content: space-between;
    }

    .review {
        font-size: 10px;
        @include Roboto;

        &__figure {
                $main-color: colors.$review-main;
                $drop-shadow: colors.$review-shadow;
            max-width: 48em;
            min-height: 17.2em;
            padding: 2.8em 4.5em;
            border-radius: 10px;
            background: $main-color;
            position: relative;
            filter: drop-shadow(#{$drop-shadow});

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 70px; 
                bottom: 0px;
                transform: translateY(100%);
                /* Triangle */
                border: 16px solid transparent;
                border-top: 18px solid $main-color;
                border-bottom: none;
            }
        }

        &__date {
            font-size: 1.4em;
            margin-bottom: 10px;
            color: colors.$review-date-txt;
        }

        &__txt {
            font-size: 1.6em;
            font-style: italic;
            color: colors.$review-txt;
        }

        /* <img> inline in div.avatar */

        &__avatar {
            margin-top: 1.8em;
            display: flex;
            align-items: center;
            font-size: 1.6em;
            font-style: italic;
            color: colors.$review-avatar-txt;
        }

        &__img {
            border-radius: 50%;
            margin-right: 15px;
        }
    }
}