@use '../../../_share/_vars/breakpoints' as *;

.work {
    &__wrapper {
        width: 100%;
        margin-bottom: 100px;
    }

    &__header {
        margin: 0 0 100px 0;
    }

    &__main {
        max-width: 1240px;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        margin: 0 30px;
        &:not(:first-child),
        &:not(:last-child) {
            margin: 0;
        }
    }

    @include respond-to("<tablet") {
        &__header {
            margin-bottom: 35px;
        }
        &__list {
            flex-direction: column;
        }
        &__item:not(:last-child) {
            margin: 0 0 55px 0;
        }
    }
}