@use '../../../_share/_vars/breakpoints' as *;
@use '../../../_share/_import/fonts' as *;
@use '../../../_share/_vars/colors';

.pet-card {
        --card-color: #{colors.$pet-card-main};

    width: 100%;
    // min-width: 240px;
    max-width: 480px;
    max-height: 365px;
    position: relative;
    box-shadow: colors.$pet-card-box-shadow;
    @include Roboto;
    text-align: center;
    background: var(--card-color);
    transition: transform .35s;

    &__link {
        padding: 20px 0;
        display: block;
        text-decoration: none;
        
        &::after {
            content: "";
            width: 27px;
            height: 25px;
            position: absolute;
            bottom: 35px; 
            right: 35px;
            display: block;
            background: 
                left / 100% 100% no-repeat 
                url("../../../assets/icons/tv.svg");
            @include respond-to("<desktop") {
                top: 30px;
                right: 25px;
            }
        }
    }

    &:hover {
        transform: scale(1.01);
    }
    &:hover &__back {
        transform: rotate(360deg);
    }

    /* --> SVG */
    &__mask {
        width: 50%;
        height: auto;
    }

    &__img {
        width: auto;
        height: 100%;
    }

    &__filter {
        fill: colors.$pet-card-filter;
    }

    &__back {  
        fill: var(--card-color);
        transition: transform 1s;
        transform: rotate(0deg);
        transform-origin: center;
    }

    &__description {
        margin-top: 10px;
        padding: 0 20% 0 30px;
        text-align: left;
        border-top: colors.$pet-card-description-border;

        @include respond-to("<desktop") {
            padding-right: 30px;
        }
    }

    &__heading {
        margin: 17px 0 0;
        font-size: 26px;
        font-weight: 500;
        color: colors.$pet-card-heading;
    }

    &__paragraph {
        margin: 6px 0 0 0;
        font-size: 16px;
        font-weight: 400;
        color: colors.$pet-card-paragraph;
    }

    // &__icon {
    //     position: absolute;
    //     bottom: 34px;
    //     right: 33px;
    // }
}