@use '../../../_share/_vars/colors';
@use '../../../_share/_import/fonts' as *;

.pet-card {
    // --card-color: #{colors.$pet-card-main};
    width: 100%;

    padding: 20px 0;
    max-width: 480px;
    position: relative;
    box-shadow: colors.$pet-card-box-shadow;
    @include Roboto;
    text-align: center;
    transition: transform .35s;

    &__link {
        display: block;
        text-decoration: none;
    }

    background: 
        var(--card-color)
        var(--bg-icon) calc(100% - 30px) calc(100% - 30px)
        no-repeat;

    &:hover {
        transform: scale(1.01);
        use {
            transform: rotate(360deg);
        }
    }

    &__mask {
        background: 
            linear-gradient(to top, #{colors.$pet-card-filter} 0% 100%),
            center / auto 100% no-repeat var(--url);
            /* Hide transform glitch */
            box-shadow: inset 0 0 0 1px var(--card-color);
            @media (min-width: 1920px) {
                box-shadow: inset 0 0 0 2px var(--card-color);
            }
        use {  
            fill: var(--card-color);
            transition: transform 1s;
            transform: rotate(0deg);
            transform-origin: center;
        }
    }

    &__description {
        margin-top: 32px;
        padding: 0 30px;
        text-align: left;
        border-top: colors.$pet-card-description-border;
    }

    &__heading {
        margin: 17px 0 0;
        font-size: 24px;
        font-weight: 500;
        color: colors.$pet-card-heading;
    }

    &__paragraph {
        margin: 6px 0 0;
        font-size: 16px;
        font-weight: 400;
        color: colors.$pet-card-paragraph;
    }

    &__icon {
        position: absolute;
        bottom: 34px;
        right: 33px;
    }
}