@use '../../../_share/_vars/colors';
@use '../../../_share/_import/fonts' as *;

.pet-card {
        --card-color: #{colors.$pet-card-main};

    width: 100%;
    padding: 20px 0;
    max-width: 480px;
    position: relative;
    box-shadow: colors.$pet-card-box-shadow;
    @include Roboto;
    text-align: center;
    transition: transform .35s;

    &__link {
        display: block;
        text-decoration: none;
    }

    background: 
        calc(100% - 30px) calc(100% - 30px) no-repeat
        url("../../../assets/icons/tv.svg");
    background-color: var(--card-color);

    &:hover {
        transform: scale(1.01);
    }
    &:hover &__back {
        transform: rotate(360deg);
    }

    &__img {
        width: auto;
        height: 100%;
    }

    &__filter {
        fill: colors.$pet-card-filter;
    }

    &__back {  
        fill: var(--card-color);
        transition: transform 1s;
        transform: rotate(0deg);
        transform-origin: center;
    }

    &__description {
        margin-top: 32px;
        padding: 0 30px;
        text-align: left;
        border-top: colors.$pet-card-description-border;
    }

    &__heading {
        margin: 17px 0 0;
        font-size: 26px;
        font-weight: 500;
        color: colors.$pet-card-heading;
    }

    &__paragraph {
        margin: 6px 0 0;
        font-size: 16px;
        font-weight: 400;
        color: colors.$pet-card-paragraph;
    }

    &__icon {
        position: absolute;
        bottom: 34px;
        right: 33px;
    }
}