@use "../../_share/_vars/colors";

@mixin grid-creator($num) {
    $min: 75px;

    grid-template-rows: repeat($num, minmax($min, 1fr));
    grid-template-columns: repeat($num, minmax($min, 1fr));
    & > *:nth-child(-n + #{$num * $num + 1}) {
        display: block;
    }
    & > *:nth-child(+n + #{$num * $num + 1}) {
        display: none;
    }
}

.game {
    display: grid;
    gap: 20px;
    width: min-content;
    height: min-content;

    @include grid-creator(1);

    @for $i from 4 through 8 {
        &--#{$i}x#{$i} { @include grid-creator($i); }
    }
}
