*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --red: #FF0909;
    --dark: #1F1F1F;
    --light: #FFFFFF;
    --gradient: linear-gradient(215deg, var(--dark) 50%, var(--red) 50%);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding-right: 135px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient) center / cover no-repeat var(--dark);
}

/* Piano */

.piano {
    display: flex;
}

.piano__key {
    margin: 0 4px;
    position: relative;
    border-radius: 0 0 5px 5px;
    color: var(--light);
    transition: all 0.15s ease;
    transform-origin: top;
    box-shadow: 5px 5px 20px rgba(0,0,0,.3);
    will-change: transform;
} 

.piano__key--white {
    width: 100px;
    height: 400px;
    background: var(--light);
} 

.piano__key--black {
    width: 60px;
    height: 240px;
    margin: 0 -30px;
    z-index: 5;
    background: var(--dark);
} 

/* Key states */

.piano__key--active {
    transform: scale(0.96);
}

.piano__key:hover {
    cursor: pointer;
}

.piano__key::before {
    content: '';
    display: block;
    position: absolute;
    top: 80%; left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%) scale(0.65);
    transition: background 0.3s, transform 0.1s;
} .piano__key--white::before {
    background: var(--dark);
} .piano__key--black::before {
    background: var(--light);
} .piano__key:hover::before {
    transform: translate(-50%) scale(0.8);
}

/* Notes/letters toggle: .piano .keys | .piano .notes */

.piano.keys  .piano__key--white::after,
.piano.notes .piano__key--white::after,
.piano.keys  .piano__key--black::after,
.piano.notes .piano__key--black::after {
    position: absolute;
    font-size: 42px;
    pointer-events: none;
    text-align: center;
    width: 100%;
    text-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

.piano.keys  .piano__key--white::after,
.piano.notes .piano__key--white::after {
    bottom: -80px;
} .piano.keys  .piano__key--black::after,
  .piano.notes .piano__key--black::after {
    top: -80px;
}

.piano.keys .piano__key--white::after,
.piano.keys .piano__key--black::after {
    content: attr(data-key);
    text-transform: uppercase;
} .piano.notes .piano__key--white::after,
  .piano.notes .piano__key--black::after {
    content: attr(data-note);
}