$colors: (
    white: #FFFFFF,
    black: #000000,
    navy: #20113D,
    orange: #F58021,
    turquoise: #00A092,
    social: (
        youtube: #FF0000,
        facebook: #3B5998,
        instagram: #C13584
    )
);