$colors: (
    white: #FFFFFF,
    black: #000000,
    navy: #20113D,
    orange: #F58021,
    turquoise-d: #00A092,
    turquoise-l: #80CFC8,
    social: (
        youtube: #FF0000,
        facebook: #3B5998,
        instagram: #C13584
    )
);