@use "../../_share/_vars/colors";
@use "../../_share/_vars/radius";
@use "../about";

.about-registration {
    position: relative;
    padding: 70px 50px;
    display: grid;
    gap: 35px;
    grid-auto-flow: column;

    &__title {
        width: max-content;
    }

    &__col-1,
    &__col-2 {
        position: relative;
        z-index: 1;
    }

    &__col-1 {
        display: grid;
        width: max-content;
        align-content: start;
        gap: 50px;
    }

    &__col-2 {
        padding-top: 130px;
        display: grid;
        grid-auto-flow: row;
        gap: 10px;
    }

    &::after {
        content: "";

        @include about.decoration;

        width: 60%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        background: colors.$about-accent-dark;
    }
}
