@use "../../../../../../_share/_styles/_vars/colors";
@use "../../../../../../_share/_styles/_vars/radius";
@use "../../_share/About.module" as about;
@use "sass:math";

.about-registration {
    $this: &;

    transform: scale(0.9);

    border: 1px solid transparent;
    color: colors.$about-secondary;

    &__title {
        width: max-content;
    }

    &__row-1,
    &__row-2 {
        & > * {
            position: relative;
            z-index: 1;
        }
    }

    &__row-1 {
        position: relative;
        display: grid;
        gap: 15px;
        padding: 40px 0 0 25px;
        grid-auto-flow: column;

        #{$this}__col-1 {
            width: max-content;
            padding-top: 5px;
            display: grid;
            row-gap: 40px;
            align-content: start;
        }

        &::after {
            content: '';

            @include about.decoration;

            width: 50%;
            height: 90%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__row-2 {
        position: relative;
        margin: 0 0 20px 160px;
        padding-bottom: 10px;
        max-width: 425px;

        &::after {
            content: '';

            @include about.decoration;

            $h-pad: 60px;
            $v-pad: 40px;

            width: calc(100% + #{$h-pad});
            height: calc(100% + #{$v-pad});
            position: absolute;
            left: math.div($h-pad, -2);
            top: math.div($v-pad, -2);
        }
    }
}
