@use '../../_share/_import/fonts' as *;
@use '../../_share/_vars/colors';

.broadcast {
    &__header {
        margin-top: 50px;
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
    }

    &__video {
        position: relative;
        margin-bottom: 85px;

        iframe {
            width: 1325px;
            height: 604px;
            border-radius: 20px;
        }
    }

    ._subheading {
        position: relative;
    }

    ._subheading::before {
        content: attr(data-subheading);
        display: block;
        position: absolute;
        top: -30px;
        @include Rubik;
        font-size: 18px;
        color: colors.$txt-black;
    }

    &__cameras {
        display: flex;
        justify-content: space-between;

        &-container {
            display: grid;
            gap: 32px;
            grid-template-rows: 240px;
            grid-template-columns: 380px 380px 380px;

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }

    &__camera {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &--live::after {
            content: "LIVE";
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 25px;
            left: 25px;
            width: 65px;
            height: 30px;
            border-radius: 10px;
            color: white;
            @include Roboto;
            font-size: 12px;
            background: rgba(46,46,46,.8);
        }
    }

    &__arrows {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & > *:first-child {
            margin-bottom: 30px;
        }
    }
}