@use '../../_share/_partials/panda-scene-zoo';
@use '../../_share/_partials/pet-avatar';
@use '../../_share/_partials/button';
@use '../../_share/_partials/header';
@use '../../_share/_partials/footer';
@use '../../_share/_partials/headings';
@use '../../_share/_import';

@use './side-menu';
@use './broadcast';
@use './description';

.main {
    flex-grow: 1;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

._zoo-wrapper {
    max-width: 1325px;
    width: 100%;
}

.icons {
    display: flex;
    gap: 17px;
}

.donate-btn {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}