$black: #0D444D;
$bamboo-tree: #216E7A;
$white: #C5E1E5;
$bg: #2A8086;
$bg-light: #F6F9FA;
$hero-text: #F3F7F8;
$footer-bg: #196469;
$btn-lined: #19707D;
$txt-black: #2D2D2D;
$txt-gray: #B2B2B2;
$copyright-color: #FFFFFF;

$burger-menu: $white;

$yellow-btn: #FFF5BA;
$btn-white: #FFFFFF;
$btn-black: #0D444D;
$btn-yellow: #AD954B;
$btn-light-bg: #54999E;
$btn-white-box-shadow: 0px 2px 50px #B9D5D999;  // alpha = 60%

$header-box-shadow: 0 1px 10px rgba(18, 87, 91, 0.25);

$clip-video-filter: #B9D5D933; // alpha = 20%

$user-icon-background: #B9D5D9;

$story-card-white-bg: #FFFFFF;
$story-card-dark: $black;
$story-card-white: $white;
$story-card-dark-shadow: 0px 2px 50px #00000002;
$story-card-white-shadow: 0px 2px 50px #B9D5D999; // alpha = 60%

$pet-card-filter: #B9D5D933; // alpha = 20%
$pet-card-main: #FFFFFF;
$pet-card-heading: #2D2D2D;
$pet-card-paragraph: #909090;
$pet-card-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.02);
$pet-card-description-border: 1px solid #E5EAEB;

$review-main: #FFFFFF;
$review-date-txt: #B2B2B2; 
$review-txt: #2D2D2D;
$review-avatar-txt: #000000;
$review-shadow: 0px 2px 30px #00000002;

$map-avatar-hover: #0A5D69;
$map-avatar: #B9D5D9;
$map-tooltip-bg: #FFFFFF;
$map-tooltip-txt: $txt-black;
$map-tooltip-shadow: 0px 2px 30px #0000000F; // alpha = 6%
$map-avatar-shadow: 0px 4px 10px #C5E1E5;

$pet-avatar-active-shadow: $map-avatar-shadow;

$camera-gap: #00000000;
$camera-live-text: #FFFFFF;
$camera-live-background: #2E2E2ECC; // alpha = 80%

$article-link-txt-shadow: 0px 4px 10px $white;

$pop-up-back: rgba(0,0,0,.8);
$pop-up-main: #FFFFFF;
$pop-up-header: $bg;
$pop-up-inactive-link: $white;
$pop-up-active-link: $pop-up-header;
$pop-up-drop-shadow: drop-shadow(0px 0px 10px rgba(255,255,255,.3));
$pop-up-input-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);