$black: #0D444D;
$bamboo-tree: #216E7A;
$white: #C5E1E5;
$yellow-btn: #FFF5BA;
$bg: #2A8086;
$bg-light: #F6F9FA;
$btn-black: #0D444D;
$btn-yellow: #AD954B;
$hero-text: #F3F7F8;
$footer-bg: #196469;
$btn-lined: #19707D;
$txt-black: #2D2D2D;
$txt-gray: #B2B2B2;
$header-box-shadow: 0 1px 10px rgba(18, 87, 91, 0.25);