@use 'sass:map';

/**
 * convert PX to VW where 1vw = VW-BASE
 * for breakpoint 
 */

@function vw($px, $vw-base: 19.2) {
    @return $px / $vw-base;
}

@function get-background($objects, $object-name, $breakpoint) {
    $object: map.get($objects, $object-name);
      $url: map.get($object, "url");
      $bg-props: map.get($object, $breakpoint);
        $x: map.get($bg-props, "x");
        $y: map.get($bg-props, "y");
        $w: map.get($bg-props, "w");
        $h: map.get($bg-props, "h");
    @return #{$x+ " " +$y+ " / " +$w+ " " +$h+ " no-repeat " +$url+ " "};
}