@use '../_vars/colors';

@mixin active-state {
    $to-center: 12px;
    &::before {
        transform: translate(0, #{$to-center}) rotate(45deg);
    }
    span {
        transform: translateX(-100%);
        opacity: 0;
    }
    &::after {
        transform: translate(0, -#{$to-center}) rotate(-45deg);
    }
}

.burger {
    height: 35px;
    
    width: 35px;
    min-width: 35px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    &::before, span, &::after {
        content: "";
        width: 75%;
        height: 2px;
        display: block;
        background: colors.$burger-menu;
        border-radius: 2px;
        transition-property: opacity, transform;
        transition-duration: .5s;
        transform-origin: center;
    }

    // ACTIVE
    &.active { @include active-state; }
    // HIDDEN BY DEFAULT
    display: none;
}