@use '../_vars/breakpoints' as *;
@use '../_import/fonts' as *;
@use '../_vars/colors';

._btn {
        $font-size: 18px;
    height: min-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-weight: 400;
    font-size: $font-size;
    @include RobotoMono;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;

    transition-property: 
        background, transform, opacity, width, height;
    transition-duration: .3s;

    @include respond-to("<desktop") {
        font-size: 16px;
    }
    
    &:hover {
        cursor: pointer;
    }

    /* Colors */
    &--white {
        color: colors.$btn-black;
        background: colors.$btn-white;
    }

    &--light-green {
        color: colors.$btn-black;
        background: colors.$white;
    }
    
    /* Glow */
    &--glow {
        box-shadow: colors.$btn-white-box-shadow;
    }

    &--m-pd {
        padding: 15px 85px;
        @include respond-to("<desktop") {
            padding: 15px 50px;
        }
        @include respond-to("<tablet") {
            padding: 15px 35px;
        }
    }

    /* Special */

    img, svg {
        margin-right: 18px;
    }

    &--no-fill {
            $txt-color: colors.$btn-lined;
            $txt-hover: colors.$btn-white;
            $btn-bg: colors.$btn-light-bg;
        color: $txt-color;
        border: 1px solid $txt-color;
        &:hover {
            svg { 
                stroke: $txt-hover; 
                fill: pink; 
            }
            color: $txt-hover;
            background: $btn-bg;
        }
    }

    &--l-ls {
        letter-spacing: 0.1 * $font-size;
    }

    &--s-pd {
        padding: 17px 22px;
        @include respond-to("<desktop") {
            padding: 10px 20px;
        }
    }
}

.arrow {
    padding: 7px;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }
    &--bottom svg {
        transform: rotate(90deg);
    }
    &--top svg {
        transform: rotate(-90deg);
    }
    &--left svg {
        transform: scale(-1);
    }
}