@use '../_vars/breakpoints' as *;
@use '../_import/fonts' as *;
@use '../_vars/colors';
@use './header';

.footer {
    background: colors.$footer-bg;

    &__wrapper {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond-to("<desktop") {
            height: 120px;
        }
        @include respond-to("<tablet-large") {
            height: 80px;
            .nav__item:not(:first-child) {
                display: none;
            }
        }
    }

    .copyright {
        margin: 30px 0 0 20px;
        @include Roboto;
        font-size: 16px;
        text-align: right;
        color: colors.$copyright-color;
        white-space: nowrap;
        text-transform: uppercase;
        
        @include respond-to("<desktop") {
            font-size: 12px;
        }
        @include respond-to("<tablet-large") {
            font-size: 10px;
        }

        &__author {
            font-style: normal;
            margin: 0 0 10px 0;
        }

        &__holder {
            margin: 0;
        }
    }
}