@use '../_import/normalize';
@use '../_import/general';

@use './button';
@use './_popups/auth-popup';
@use './_popups/popup';
@use './burger';

@use '../_vars/breakpoints' as *;
@use '../_import/fonts' as *;
@use '../_vars/colors';

$header-tablet: 80px;

.header {
        $bg-color: colors.$bg;
    background: $bg-color;
    position: relative;
    z-index: 1000;

    @include respond-to(">tablet-large") {
        &::before {
            content: "";
            position: absolute;
            z-index: -1000;
            top: -5px;
            width: 100%;
            height: calc(100% + 15px);
            background: colors.$bg;
            box-shadow: colors.$header-box-shadow;
        }
    }

    &__wrapper {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond-to("<tablet-large") {
            height: $header-tablet;
        }
    }

    @include respond-to("<tablet-large") {
        width: 100%;
        position: fixed;
        
        & + * {
            margin-top: $header-tablet - 5px;
        }

        .burger {
            display: flex;
        }

        .user, .search,
        .menu__search,
        .menu__log-in,
        .menu__log-out {
            display: none;
        }
    }

    .logo, .burger {
        position: relative;
        z-index: 10;
    }

    .nav__list {
        z-index: 5;
    }

    /* JS */
    &._js-burger {
        .burger {
            @include burger.active-state; 
        }
        .nav__body {
            top: 0%;
        }
    }

    &._js-logged {
        .user {
            display: flex;
        }

        .menu__log-in,
        .menu__sign-up,
        .menu__log-out {
            display: none;
        }
    }

    ._header-load {
        visibility: hidden;
    }
}

/* Navigation */

.nav {
        $link-color: colors.$white;
    display: flex;
    justify-content: space-between;
    flex-basis: 685px;
    color: $link-color;
    font-size: 18px;
    font-weight: 500;
    @include RobotoMono;

    &__logo {
        margin-right: 50px;
        h1 {
            margin: 0;
        }
    }

    &__body {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &__list {
        flex-grow: 1;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        margin: 0 10px;
        &:first-child {
            margin-left: 0;
        }
        &--active {
            pointer-events: none;
        }
        &--active::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background: $link-color;
            margin: 5px 0 -5px;
        }

        &:hover {
            opacity: 0.8;
        }

        @include respond-to("<tablet-large") {
            display: none;
        }
    }

    &__link {
        display: block;
        color: inherit;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;
    }

    /* Logo */

    .logo__img {
        font-size: 25px;

        @include respond-to("<tablet-large") {
            font-size: 18px;
            width: auto;
            height: 65px;
        } 
        @include respond-to("<tablet") {
            font-size: 12px;
            width: auto;
            height: 40px;
        }
    }

    /* Burger modifier */

    @include respond-to("<tablet-large") {
        &--burger-tablet &__body {
            width: 100%;
            height: 100%;
           
            display: block;
            position: fixed;
            top: -100%; left: 0;
            overflow-y: auto;

            background: colors.$bg;
            transition: top 1s;

            &::before {
                content: "";
                width: 100%;
                height: $header-tablet;
                display: block;
                position: fixed;
                top: 0; left: 0;
                z-index: 10;
                background: colors.$bg;
                box-shadow: colors.$header-box-shadow;
            }
        }
        
        &--burger-tablet &__list {
            display: block;
            padding-top: $header-tablet + 60px;
            padding-bottom: 10px;
            margin: auto 0;
        }

        &--burger-tablet &__item {
            display: block;
            margin-bottom: 50px;
            font-size: 24px;
            text-align: center;
            &--active {
                opacity: 0.75;
                &::after {
                    display: none;
                }
            }
        }
    }

}

/* Menu */

.menu {
        $txt-color: colors.$white;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    color: $txt-color;
    font-size: 18px;
    @include Roboto;

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__search {
        margin-right: 40px;
    }

    &__log-in {
        margin-right: 24px;
        @include respond-to("<desktop") {
            display: none;
        }
    }

    &__sign-up {
        @include respond-to("<desktop") {
            display: none;
        }
    }

    &__button {
            $txt-hov-color: colors.$black;
        text-transform: uppercase;
        /* Button hover */
        &:hover {
            opacity: 0.8;
        }
        &--round {
            padding: 14px;
            border-radius: 100px;
            border: 1px solid $txt-color;
            transition-property: color, background;
            transition-duration: .25s;
            /* Fill button hover */
            &:hover {
                color: $txt-hov-color;
                background: $txt-color;
            }
        }
    }
}

/* Menu > search */

.search {
        $txt-color: colors.$white;
        $txt-hov-color: colors.$black;
    display: flex;
    align-items: center;
    color: $txt-color;
    position: relative;
    font-size: 18px;

    &__icon {
        stroke: $txt-color;
        &:hover {
            opacity: 0.8;
        }
    }

    &__input {
        height: 35px;
        width: 170px;
        margin-left: 20px;
        padding: 0 10px;
        margin-right: 20px;
        color: inherit;
        font: inherit;
        border: none;
        border-bottom: 1px solid $txt-color;
        background: none;
        transition-property: opacity, transform;
        transition-duration: .3s;
        opacity: 0.7;
        transform: translateX(65%)  scaleX(0);
        pointer-events: none;

        &:focus {
            opacity: 1;
            outline: none;
        }

        &::placeholder {
            color: inherit;
        }
    }

    &--active &__input {
        transform: translateX(0%) scaleX(1);
        pointer-events: all;
    }
}

.user {
    display: none;
    position: relative;
    gap: 10px;
    align-items: center;
    @include Roboto;
    
        $dropdown-offset: 50px;
    margin-top: $dropdown-offset;
    padding-bottom: $dropdown-offset;

    &__logo {
        cursor: pointer;
        margin-bottom: 5px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 2px solid;
        border-color: transparent;
        transition: border .3s;
        background: 
            center no-repeat url("../../../assets/icons/user.svg")
            colors.$user-icon-background;

        &:hover {
            border-color: white;
        }
    }

    &__name {
        font-size: 12px;
        line-height: 18px;
        width: 90px;
        text-align: center;
        color: colors.$white;
    }

    &__dropdown {
        z-index: 1000;
        width: 100%;
        padding: 5px 10px;
        position: absolute;
        bottom: 0; left: 0;
        transform: translateY(100%);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        list-style: none;

        pointer-events: none;
        opacity: 0;
        
        transition-property: opacity transform;
        transition-duration: 1s, 1s;
        color: colors.$white;

        transform: translateX(100%);

        &-item {
            width: 100%;
            height: 100%;
            margin-top: 10px;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            
            color: #216e7a;
            background: colors.$white;
            opacity: .8;
            border: 2px solid colors.$white;

            transition: opacity .3s;

            &:hover {
                opacity: 1;   
            }
        }

        &-item:first-child {
            margin-top: 0;
        }
    }

    &__log-button {
        width: 100%;
        height: 100%;
    }

    &._js-dropdown &__dropdown {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
    }
}