@use '../_import/fonts' as *;
@use '../_vars/colors';

.section-heading {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    @include Rubik;
    text-transform: uppercase;

    &--light {
        color: colors.$white;
    }

    &--dark {
        color: colors.$black;
    }
}