@use '../_vars/colors';
@use '../_import/fonts' as *;

.pet-avatar {
    display: inline-block;
    text-align: center;

    &__link-wrapper {
        text-decoration: none;
    }

    &__icon {
        margin-bottom: 10px;
        width: 75px; 
        height: 75px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    &__img {
        width: auto;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__mask {
        width: 100%;
        height: 100%;

        &:hover {
            use {
                transform: rotate(360deg);
            }
        }
        
        use {  
            fill: colors.$bg-light;
            transition: transform 1s;
            transform: rotate(0deg);
            transform-origin: center;
        }
    }

    &__name {
        @include RobotoMono;
        font-size: 14px;
        font-weight: 500;
        color: colors.$txt-black;
        text-transform: uppercase;
    }
}