@use '../_vars/breakpoints' as *;
@use '../_import/fonts' as *;
@use '../_vars/colors';

.pet-avatar {

        --bg-active: #{colors.$bg};
        --bg-inactive: #{colors.$bg-light};
        --bg-active-hover: #{colors.$map-avatar-hover};

    display: inline-block;
    text-align: center;

    &__link-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        color: inherit;
        text-decoration: none;
    }

    &__back {
        transition: transform 1s;
        transform: rotate(0deg);
        transform-origin: 52px 52px;
        fill: var(--bg-inactive);
    }

    // &__img {
    // }

    &__name {
        @include RobotoMono;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: colors.$txt-black;
        text-transform: uppercase;
    }

    &:hover &__back {
        transform: rotate(360deg);
    }

    &--active {
        filter: drop-shadow(#{colors.$map-avatar-shadow});
    }

    &--active &__back {
        fill: var(--bg-active);
        transition: fill 1s, transform 1s;
    }

    &--active:hover &__back {
        fill: var(--bg-active-hover);
    }

    @include respond-to("<desktop") {
        &--tablet-small &__outer-svg {
            width: 77px;
            height: 77px;
        }
    }

    @include respond-to("<tablet") {
        &--mobile-row {
            --bg-active: #{colors.$bg};
            --bg-inactive: #{colors.$bg};
            --bg-active-hover: #{colors.$bg};
            filter: none !important;
        }
        &--mobile-row &__outer-svg {
            margin-right: 20px;
        }
        &--mobile-row &__link-wrapper {
            flex-direction: row;
        }
        &--mobile-row &__name {
            margin: 0;
            color: colors.$white;
        }
    }
}