@use '../../_share/_vars/breakpoints' as *;
@use '../../_share/_import/fonts' as *;
@use '../../_share/_vars/colors';

.map {
    width: 100%;
    flex: 1 1 100%;
	display: flex;
	flex-direction: column;

    ._wrapper {
        width: 100%;
        box-sizing: border-box;
        flex: initial;
    }

    &__wrapper {
        position: relative;
    }

    &__header {
        position: relative;

        & > * {
            position: absolute;
            top: 160px;

            @include respond-to("<tablet-large") {
                top: 50px;
            }
        }
    }

    &__heading {
        @include respond-to("<tablet-large") {
            font-size: 18px;
        }
        @include respond-to("<tablet") {
            display: none;
        }
    }

    &__body {
        flex-grow: 1;
        display: flex;
    }

    &__svg-container {
        width: 100%;
        display: grid;
    }

    // &__svg {
    // }
}

.avatar {
    cursor: pointer;
    filter: drop-shadow(#{colors.$map-avatar-shadow});

    &__clip {
        transition: transform 1s;
        transform: rotate(0deg);
        transform-origin: 35px 35px;
        will-change: transform;
    }

    &__back {
        fill: colors.$map-avatar;
        transition: fill 1s;
    }

    &:hover &__back {
        fill: colors.$map-avatar-hover;
    }
    &:hover &__clip {
        transform: rotate(360deg);
    }

    &:hover {
        & + .tooltip {
            opacity: 1;
        }
    }
}

.tooltip {
    opacity: 0;
    transition-duration: .8s;
    transition-property: transform, opacity;
    fill: colors.$map-tooltip-bg;
    pointer-events: none;

    filter: drop-shadow(#{colors.$map-tooltip-shadow});
    
    &__back {
        stroke: colors.$footer-bg;
        stroke-width: 1px;
    }

    &__name, &__description {
        fill: colors.$map-tooltip-txt;
        font-size: 14px;
        @include Roboto;
    }
}

.zoom {
    position: absolute;
    display: flex;
    bottom: 250px;
    right: 0;
    gap: 15px;

    svg {
        background: colors.$bg;
        border-radius: 50%;
    }

    @include respond-to("<desktop") {
        bottom: 160px;
    }
    @include respond-to("<tablet-large") {
        bottom: 190px;
    }
}