.work {
    &__wrapper {
        padding: 60px 105px 100px;
        position: relative;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        margin: -100px -105px 100px;
    }
}