:root {
    --orange-main: #CD6326;
    --orange-light: #E39128;
    --orange-dark: #8F5613;

    --font-light: #F7F7F7;
    --font-grey: #666666;
    --font-dark: #333333;

    --fallback-1: #02160B;
}

/* User Reset CSS */

*, *::before, *::after {
   box-sizing: border-box;
}

*::before, *::before {
    display: block;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

body, ul,
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

/* Styles here... */

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 120px;
    max-width: 1440px;
}

/* ----> Header <---- */

.header {
    width: 100%;
    height: 10rem;
    
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
}

/* -- logo */

.logo {
    display: flex;
    align-items: center;

    color: var(--font-light);
    text-transform: uppercase;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.logo__text {
    display: block;
    font-size: 3.2rem;
    margin: 0 1.5rem 0 2rem;
}

/* -- navigation */

.nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__item {
    padding: 3rem;
}

.nav__link {
    color: var(--font-light);
    font-size: 2.3rem;
    text-decoration: none;

    display: flex;
    align-items: center;
}

/* --btn */

.btn {
    display: inline-block;
    min-width: max-content;
    padding: 1rem 2.5rem;

    color: var(--font-light);
    background: var(--orange-main);

    font-size: 2.3rem;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;

    transition-property: background, border-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
} .btn:hover {
    background: var(--orange-light);
} .btn:active {
    background: var(--orange-dark);
}

.btn--orange-outline {
    background: transparent;
    border: 2px solid var(--orange-main);
} .btn--orange-outline:hover {
    background: var(--orange-main);
    border-color: var(--orange-main);
} .btn--orange-outline:active {
    background: var(--orange-dark);
    border-color: var(--orange-dark);
}

.btn--size-x {
    padding: 2rem 4.5rem;
}

/* ----> Survival <---- */

.survival {
    background: var(--fallback-1);
}

.survival .wrapper { 
    padding-top: 22rem;
    padding-bottom: 24rem;

    background: top / contain no-repeat
        url("assets/images/bg-fox.jpg");
    /* background-color: var(--fallback-1); */
}

.survival__article {
    max-width: 27.5rem;
    font-size: 1.8rem;
}

.survival__heading {
    color: var(--orange-main);
    font-size: 4.8rem;
    letter-spacing: 2px;
}

.survival__text {
    margin: 6rem 0 5rem;
    line-height: 2.7rem;
    color: var(--font-light);
}

/* ----> Latest articles <---- */